.heading{
    text-align: center;
    
}
.bg{
    margin-top:-20px;
        
        height:500px;
        width: 100%;
        /*opacity: 0.5;*/
        background: linear-gradient(rgba(85, 77, 77, 0.5), rgba(71, 69, 69, 0.5)), url('assets/images/yoga1.jpg')no-repeat;
       
       background-size: cover;
       
    }
    .thought_about{
        margin-top:-380px;
        margin-left:80px;
        height:315px;
        width: 87%;
        opacity: 0.8;
        color:white;
        font-weight: bold;
        font-size: 35px;
        padding:40px;
        background: linear-gradient(rgba(85, 77, 77, 0.5), rgba(71, 69, 69, 0.5));
        position:relative;
    }
    .founder_info{
        margin-top:-320px;
        margin-left:480px;
        height:50px;
        width: 57%;
        opacity: 1;
        color:white;
        font-weight: bold;
        font-size: 35px;
        padding:40px;
        background: linear-gradient(rgba(85, 77, 77, 0.5), rgba(71, 69, 69, 0.5));
        position:relative;
    }
    .founder_info2{
        margin-top:-210px;
        margin-left:480px;
        height:50px;
        width: 40%;
        opacity: 1;
        color:white;
        font-weight: bold;
        font-size: 35px;
        padding:40px;
        background: linear-gradient(rgba(85, 77, 77, 0.5), rgba(71, 69, 69, 0.5));
        position:relative;
    }
    .thought_author{
        float:right;
        font-family: 'Tangerine', cursive;
        font-size: 46px;
        padding-bottom: 25px;
    }
    .rowover{
        padding-left:30px;padding-right:30px;
      }
      .para{      
          font-size:16px;     
           margin-left:0px;
           margin-right:30px;     
            text-align:justify; 
           }
           .trustee_image {
            display: block;
            width: 300px;
            height:250px;
            margin-left:30px;
            transition: .5s ease;
            backface-visibility: hidden;
            opacity: 1;
          }
         