

<nav class="navbar navbar-expand navbar-dark bg-dark foot">
    <ul class="navbar-nav ullink">
        <li class="nav-item">
            <a class="nav-link" href="#">
                    <i class="fa fa-facebook-square" style="font-size:36px;color:  #ffffff;"></i>
            </a>
        </li>
        <li class="nav-item">
                <a class="nav-link" href="#">
                        <i class="fa fa-twitter-square" style="font-size:36px;color: #ffffff;"></i>
                </a>
        </li> 
        <li class="nav-item">
                <a class="nav-link" href="#">
                        <i class="fa fa-youtube-square" style="font-size:36px;color:#ffffff;"></i>
                </a>
        </li>  
      </ul> 
  <div class="navbar-text m-auto">
    <p class="footer_text">© Copyright 2018 - Atma Darshana Yoga | | Powered by <a href="http://tekvity.com/">TEKVITY PVT LTD.</a></p>
  </div>

  <div class="navbar-text m-auto">
      <p class="footer_text"><span class="glyphicon glyphicon-earphone"></span> +91 80 28560168</p>
      <p class="footer_text"><span class="glyphicon glyphicon-envelope"></span> info@atmadarshanayoga.in</p>
  </div>
</nav>