<body class="body">
    <app-header></app-header>
  
    <div class="container-fluid bg">   
      <img src="assets/images/bannertop1.jpeg" height="500" width="103%">
  </div><br><br><br>
  
  <div class="thought_about">    
  <p>"The goal of meditation isn't to control your thoughts, it's to stop letting them control you."</p>
  <p class="thought_author">- Buddha</p> 
  </div><br><br><br><br>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <br><br><br><br><br><br><br> 
    
  
    <app-footer></app-footer>
    </body>