<body class="body">
    <app-header></app-header>
  
    <div class="container-fluid bg">   
      <img src="assets/images/bannertop1.jpeg" height="500" width="103%">
  </div><br><br><br>
  
  <div class="thought_about">    
  <p>"The nature of yoga is to shine the light of awareness into the darkest corners of the body."</p>
  <p class="thought_author">- Jason Crandell</p> 
  </div><br><br><br><br>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <br><br><br><br><br><br><br> 
    
  
    <app-footer></app-footer>
    </body>