<body class="body">
    <app-header></app-header>
  
    <div class="container-fluid bg">   
      <img src="assets/images/blue.jpg" height="500" width="104%">
  </div><br><br><br>
  
  <div class="thought_about">    
  <p>"If you can control the rising of the mind into ripples, you will experience Yoga."</p>
  <p class="thought_author">- Patanjali</p> 
  </div><br><br><br><br>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <br><br><br><br><br><br><br> 
    
  
    <app-footer></app-footer>
    </body>