
<body class="body">
  <app-header></app-header>

  <div class="container-fluid bg">   
    <img src="assets/images/bg2.jpg" height="500" width="104%">
</div><br><br><br>

<div class="thought_about">    
<p>"Meditation means the mind is turned back upon itself.The mind stops all the thought-waves and the world stops.Your consciousness expands,Every time you meditate you will keep your growth"</p>
<p class="thought_author">-Swamy Vivekananda</p> 
</div><br><br><br><br>














<br><br><br><br><br><br><br> 
  

  <app-footer></app-footer>
  </body>