<app-header></app-header>
    <div class="container-fluid bg">   
        <img src="assets/images/bannertop.jpg" height="500" width="102.3%">
    </div><br><br><br>
  
    <div class="thought_about">    
        <p>"The study of asana is not about mastering posture.  It’s about using posture to understand and transform yourself."</p>
        <p class="thought_author">- B.K.S Iyengar</p> 
    </div><br><br><br><br>
    
    <div class="row" style="margin-top:120px;">
        <div class="col-md-6" >
                <div class="row rowover">
                        <div class="col-md-5">
                                <h1 style="font-size:30px;color:green;font-weight:bold;">CONTACT US</h1>
                        </div>
                        <div class="col-md-7" style="margin-top:10px;">
                                <hr>
                        </div>
                        
                </div><br><br>
                <div class="coladdress">
                    <p><span class="glyphicon glyphicon-home"></span> #2, Siddharuda Nilaya, 8th Main, 13th Cross,
                    Judicial Layout, Allalasandra, GKVK Post, Yelahanka, Bangalore - 560 065.</p>
                    <p><span class="glyphicon glyphicon-phone-alt"></span> +91 - 80 2856 0168</p>
                    <p><span class="glyphicon glyphicon-earphone"></span> +91 - 94491 66245 </p>
                    <p><span class="glyphicon glyphicon-envelope"></span> devarajyoga58@gmail.com</p>
                    <p><span class="glyphicon glyphicon-envelope"></span> yogidevaraj@atmadarshanayoga.in</p>
                    <p><span class="glyphicon glyphicon-envelope"></span>  info@atmadarshanayoga.in</p>
                    <p><span class="glyphicon glyphicon-envelope"></span> www.atmadarshanayoga.in</p>
                </div>
        </div>
        <div class="col-md-6">
                <div class="row rowover">
                        <div class="col-md-5">
                                <h1 style="font-size:30px;color:green;font-weight:bold;">ENQUIRY FORM</h1>
                        </div>
                        <div class="col-md-7" style="margin-top:10px;">
                                <hr>
                        </div>
                        
                </div><br><br>
                <div class="coladdress">
                <form action=""  method="post" autocomplete="off">
                    
                    <div class="input-group" style="width:500px;height:45px;">
                            <span class="input-group-addon" style="color:white; background-color: orange;width:40px;">
                                    <i class="glyphicon glyphicon-user"></i>
                            </span> 
                            <input type="text" class="form-control"  name="name" placeholder="Your name" required style="height:45px;"  >
                     </div><br>

                    <div class="input-group" style="width:500px;height:45px;">
                            <span class="input-group-addon" style="color:white; background-color: orange;width:40px;">
                            <i class="glyphicon glyphicon-earphone"></i>
                            </span>
                          <input type="text" class="form-control"  name="phone" placeholder="Your phone" required   style="height:45px;">
                     </div><br>

                    <div class="input-group" style="width:500px;height:45px;">
                            <span class="input-group-addon" style="color:white; background-color: orange;width:40px;">
                            <i class="glyphicon glyphicon-glyphicon glyphicon-envelope"></i>
                            </span>
                          <input type="text" class="form-control"  name="email" placeholder="Your email" style="height:45px;">
                     </div><br>
                     
                     <div class="input-group" style="width:500px;height:45px;">
                            <span class="input-group-addon" style="color:white; background-color: orange;width:40px;">
                            <i class="glyphicon glyphicon-glyphicon glyphicon-pencil"></i>
                            </span>
                          <input type="text" class="form-control"  name="subject" placeholder="Subject" style="height:45px;">
                     </div><br>

                     <div class="input-group" style="width:500px;height:45px;">
                            <span class="input-group-addon" style="color:white; background-color: orange;width:40px;">
                            <i class="glyphicon glyphicon-pencil"></i>
                            </span>
                            <textarea class="form-control" rows="5" name="comment" placeholder="Comment"></textarea>
                     </div><br>


                    <input type="submit"  value="Submit" style="background-color:green;height:48px;width:120px;color:white;margin-left:370px;border:none;" >
                    
                    </form>
                </div>
        </div>
    </div>
    <br><br><br>

    <div class="row rowover">
            <div class="col-md-3">
                    <h1 style="font-size:30px;color:green;font-weight:bold;">LOCATED AT</h1>
            </div>
            <div class="col-md-9" style="margin-top:10px;">
                    <hr>
            </div>
            
    </div><br><br>
<div class="row">
    <div class="col-md-12" class="colmap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.2269570404214!2d77.58655995001354!3d13.08479779073645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae184162240c81%3A0x68d08147fe7b38fa!2sSwamy+Vivekananda+Yoga+Research+%40+Holistic+Health+Trust!5e0!3m2!1sen!2sin!4v1527061845846" width="1200px" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div><br><br><br><br><br><br>       
      
<app-footer></app-footer>