<app-header></app-header>
  <div class="container-fluid bg">   
      <img src="assets/images/bannertop.jpg" height="500" width="103%">
  </div><br><br><br>
  
  <div class="thought_about">    
  <p>"The study of asana is not about mastering posture.  It’s about using posture to understand and transform yourself."</p>
  <p class="thought_author">- B.K.S Iyengar</p> 
  </div><br><br><br><br>


    <div class="container">
      <h1 class="heading">Contact Me</h1>
      <hr>
    <div class="row">
        <div class="col-md-6">
          <h2>LOCATE US</h2><br><br>
          <h3>TEKVITY PVT LTD.<br>
                #24, 2nd floor, Opposite Jakkur Aerodrome,<br>
                Yashodhanagar, Yelahanka,<br>
                Bangalore-560064</h3><br><br>
               
                <h3><span class="glyphicon glyphicon-earphone"></span>&nbsp;+9180-6565 6579, +91-90360 07774 <br> <br>

                    <span class="glyphicon glyphicon-envelope"></span>&nbsp;INFO@TEKVITY.COM <br> <br>
               
                    <span class="glyphicon glyphicon-globe"></span>&nbsp;  www.tekvity.com</h3><br>
         </div>
         <div class="col-md-6">
           <h2>CONTACT US</h2><br>

           <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)" class="signinform">
              <br>

              <div class="form-group">
                  <h3>Name:</h3>
                  <input type="text" 
                      class="form-control" 
                      id="name" 
                      placeholder="Enter Name" 
                      name="name"
                      [(ngModel)]="user.name"
                      #username="ngModel"
                      required>
              </div>
              <div *ngIf="username.errors?.required && username.touched" class="alert alert-danger">Name is required</div>
              
                  
              <div class="form-group">
                  <h3>Email:</h3>
                  <input type="email" 
                      class="form-control" 
                      id="email" 
                      placeholder="Enter Email" 
                      name="email"
                      [(ngModel)]="user.email"
                      #useremail="ngModel"
                      required>
              </div>
              <div *ngIf="useremail.errors?.required && useremail.touched" class="alert alert-danger">Email is required</div>
              
              <div class="form-group">
                  <h3>Message:</h3>
                  <textarea
                      class="form-control" 
                      id="message" 
                      placeholder="Enter Message" 
                     rows="4"
                      name="message"
                      [(ngModel)]="user.message"
                      #usermessage="ngModel"
                      minlength="5"
                      maxlength="250"
                      required>
                      </textarea>
              </div>
              <div *ngIf="usermessage.errors?.required && usermessage.touched" class="alert alert-danger">Message is required</div>
              <div *ngIf="usermessage.errors?.minlength && usermessage.touched" class="alert alert-danger">Message must be minimum 5 characters length</div>
              
     
          
                   
                   
                   <button  type="submit" class="btn btn-primary" >SEND</button>
                   
                 </form>
          </div>
    </div><br><br><br>

      
      </div><br><br><br>



      
      
<app-footer></app-footer>